<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".jpg" />
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
			<remove fileExtension=".png" />
			<mimeMap fileExtension=".png" mimeType="image/png" />
		</staticContent>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>
